.container {
  width: 650px;
  height: auto;
  background: chocolate;
  padding: 1rem;
  border-radius: 10px;

  .screen {
    width: 100%;
    height: 120px;
    background-color: #fff;
    border: 3px solid #000;
    border-radius: 5px;
    color: #000;
    display: flex;
    flex-direction: column;

    .input,
    .output {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      padding: 0 .5rem;
      font-weight: bold;
    }

    .input {
      flex: 1;
      background-color: #7d8699;
      color: white;
      font-size: 2.5rem;
    }

    .output {
      flex: 1;
      font-size: 4rem;

      span {
          margin-right: 0.5rem;
      }
    }
  }

.keypad {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4,1fr);
  gap: .3rem;
  margin-top: 0.3rem;
}


}
