* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    text-transform: capitalize;
}

.app {
    width: 100vw;
    height: 100vh;
    background-color: teal;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    h1 {
        font-size: 3rem;
        color: #fff;
        margin-bottom: 3rem;
    }
}